<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="distributed password manager without a master password">
    <meta name="author" content="Martin Mativo">

    <title>Siri Pass</title>

    <link rel="stylesheet" href="/lib/theme.min.css">
    <style>
      body {
        background: rgb(248, 249, 250);
      }
      p {
        max-width: 720px;
        font-size: 1.2em;
        font-weight: lighter;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <img src="/imgs/siri-pass-high-resolution-logo-transparent.png" style="width: 100%;max-width: 500px;" alt="Siri Pass logo" />
      </div>
      <%= render @view_module, @view_template, assigns %>
      <footer class="footer">
        <%# %>
      </footer>
    </div>
  </body>
</html>
